:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-fill : #3fc920;
  --line-empty: #3b3838;
  --line-btn : #3e70ad;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: yellow;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3em;
  max-width: 100%;
  width: 30em;
}

.progress-container::before {
  content: "";
  background-color: var(--line-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.3em;
  width: 0%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.circle {
  background-color: white;
  color: black;
  border-radius: 50%;
  height: 2.7em;
  width: 2.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--line-empty);
  transition: 0.7s ease-in-out;
}

.circle.active {
  border-color: var(--line-fill);
  transition: 1.5s;
}

.circle > img {
  width: 60%;
}

.btn {
  background-color: var(--line-btn);
  color: #fff;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  font-family: inherit;
  padding: 0.7em 2em;
  margin: 0.5em;
  font-size: 1em;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-empty);
  cursor: not-allowed;
}